<h1>New Comment for Run <%= @run[:id] %></h1>

<%= link_to "New Comment", comments_new_path (:run_id => @run.id), { :class => "button waves-effect waves-light btn" } %>

<%= render 'comments/_form' %>
