<h1>All Runs</h1>
<%= link_to "New Run", new_run_path(:run_id => @run[:id]), { :class => "button waves-effect waves-light btn" } %>
<br><br>

<div class="row">
  <% @comments.each do |comment| %>

      <div class="card-panel grey lighten-2 col s4" style="margin: 10px">
        <strong><%= link_to comment.name %></strong>
      </div>
  <% end %>
</div>
