<h1>Add your run!</h1>
<!-- <h2> -->
<div>
  <div align="right">
  <button type="button">Record new run</button>
</div>

<table class="striped bordered">
  <tr>
    <th>Date</th>
    <th>Start Time</th>
    <th>Stop Time</th>
    <th>Total Run Time</th>
  </tr>
</table>
